.gallery {
  display: grid;
  max-width: 36vw;
  grid-template-columns: 9vw 9vw 9vw 9vw;
  grid-template-rows: 9vw 9vw 9vw 9vw;
  grid-template-areas:
    "one    two    three  four  "
    "five   two    six    seven "
    "nine   ten    ten    eleven"
    "nine   ten    ten    eight ";
}

.gallery__image {
  object-fit: cover;
  transition: 0.1s linear;
  width: 100%;
  height: 100%;
}

.slider__item_active .gallery__image:hover {
  transform: scale(1.3);
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.5);
}

.grid-1 {
  grid-area: one;
}

.grid-2 {
  grid-area: two;
}

.grid-3 {
  grid-area: three;
}

.grid-4 {
  grid-area: four;
}

.grid-5 {
  grid-area: five;
}

.grid-6 {
  grid-area: six;
}

.grid-7 {
  grid-area: seven;
}

.grid-8 {
  grid-area: eight;
}

.grid-9 {
  grid-area: nine;
}

.grid-10 {
  grid-area: ten;
}

.grid-11 {
  grid-area: eleven;
}
