@import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: calc(0.3vw + 14px);
  color: #c3c4c5;
}

